@{
    ViewBag.Title = "Zoo";
}

<div id="bodyContainer" ng-app="ZooApp">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12" ng-controller="AnimalsCtrl" ng-init="loadSpecies();loadAnimals()">

                    <div class="front" ng-class="">
                        <p class="lead">{{message}}</p>
                    </div>

                    <div class="col-md-12" >
                        <button type="button" class="btn btn-info pull-right" style="margin-bottom: 10px;" ng-click="addAnimal()">Lisa uus loom</button>
                    </div>

                    <table ng-disabled="working" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Liik</th>
                                <th>Nimi</th>
                                <th>Sünniaasta</th>
                                <th>Vanus</th>
                                <th>Lisamisaeg</th>
                                <th>Valikud</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="animal in animals">
                                <td>{{ animal.SpeciesName }}</td>
                                <td>{{ animal.Name }}</td>
                                <td>{{ animal.YearOfBirth }}</td>
                                <td>{{ animal.Age }}</td>
                                <td>{{ animal.CreationDate }}</td>
                                <td>
                                    <button type="button" class="btn btn-info" ng-click="modifyAnimal(animal)">Muuda</button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteAnimal(animal)">Kustuta</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{avgAge}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/animals-controller.js")
}